<!DOCTYPE html>
<html lang="zh-Hans">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

    <!-- Content -->
    <%- body %>
    <!-- Scripts -->
    <%- partial('_partial/scripts') %>
    
    <!-- Service Worker -->
    <%- partial('_partial/service-worker') %>
</body>

</html>